.container-search-products {
  width: 75%;
  margin: auto;

}

.container-search-products-child{
  background-color: white;
  border-radius: 10px;
}

.flex-items {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.flex-items div {
  max-width: 300px;
}

.flex-items img {
  width: 160px;
  height: auto;
}

.flex-items h3 {
  margin: 5px 0;
}

.flex-items p {
  margin: 0;
}

.price-text {
  font-size: 24px;
}

.container-text-search {
    margin-left: 10px;
    font-size: 20px;
    padding-top: 10px;
}

.free-shipping{
    color: #00a650;
    font-size: 14px;
    font-family: "Proxima Nova Bold";
    background-color: #e5f6ed;
    padding: 10px;
}

.condition-text{
    color: rgba(0,0,0,.55);
    font-size: 14px;
    padding-top: 20px;
    font-weight: 400;
}

.loading-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
  .container-search-products{
    width: 90%;
  }
  .flex-items{
    padding: 5px;
    align-items: center;
  }
  .flex-items div{
    width: 200px;
    margin-bottom: 20px;
  }
  .flex-items img{
    width: 150px;
  }
}