@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima\ Nova\ Regular.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/Proxima\ Nova\ Light.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima\ Nova\ Bold.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  